# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Editor files
# -----------------------------
.vscode/
.idea/
*.swp
*.swo
*~

# -----------------------------
# Logisim/Digital temporary files
# -----------------------------
*.autosave
*.bak

# -----------------------------
# Build / binaries
# -----------------------------
logisim-evolution-bin/

# -----------------------------
# Archives
# -----------------------------
*.zip
*.tar
*.gz
*.7z

# -----------------------------
# Logs
# -----------------------------
*.log

__pycache__/
*.pyc
